In [32]:
# Importing libraries
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import os
import math
import re
import glob
import math
import xlsxwriter as eW

In [59]:
# Import Spreadsheets into DataFrames

# Import Student Scores
student_Scores = pd.read_csv(r'C:\Users\kyled\Dropbox\1819 WPHS Assessment\SAT Score Scaling\1920_SATPracticeTest_Winter_ScaledScores.csv')
student_Scores.head()

# Create Math Scores DataFrame
math_Scores = student_Scores[student_Scores['Subject'] == 'Math']

# Create English Scores DataFrame
english_Scores = student_Scores[student_Scores['Subject'] == 'ELA']

# Import Math Conversion
math_Scale = pd.read_excel(r'C:\Users\kyled\Dropbox\1819 WPHS Assessment\SAT Score Scaling\1920 SAT Diagnostic Curve_MATH.xlsx')
math_Scale.index =  math_Scale.loc[:,'SAT Score']
math_Scale.head()

# Import English Conversion
english_Scale = pd.read_excel(r'C:\Users\kyled\Dropbox\1819 WPHS Assessment\SAT Score Scaling\1920 SAT Diagnostic Curve_ENGLISH.xlsx')
english_Scale.index = english_Scale.loc[:,'SAT Score']

student_Scores.head()

,*School Year,Scaled.Score (bin),Grade,Name,Sat Exam,Scaled Score,School,Student Number,Subject,SAT Name,Test Version
0,2019-20,500,11,"Success, Shealyn",SAT.11.Winter.USIHS.19-20,560,NSA-WPHS,305002305,ELA,Cycle 2 2019-20,1.0
1,2019-20,400,11,"Success, Shealyn",SAT.11.Winter.USIHS.19-20,490,NSA-WPHS,305002305,Math,Cycle 2 2019-20,1.0
2,2019-20,1000,11,"Success, Shealyn",SAT.11.Winter.USIHS.19-20,1050,NSA-WPHS,305002305,Overall,Cycle 2 2019-20,1.0
3,2019-20,0,11,"Success, Shealyn",SAT.11.Winter.USIHS.19-20,29,NSA-WPHS,305002305,Reading,Cycle 2 2019-20,1.0
4,2019-20,0,11,"Success, Shealyn",SAT.11.Winter.USIHS.19-20,27,NSA-WPHS,305002305,Writing,Cycle 2 2019-20,1.0

In [60]:
# For each student look up, Math Gradebook Score
for n in math_Scores.index:
    if math_Scores.at[n, 'Grade'] == 11:
        mathSAT = math_Scores.at[n, 'Scaled Score']
        scaledGrade = math_Scale.at[mathSAT, 'Grade 11']
        math_Scores.at[n, 'mathGr'] = scaledGrade
      
    elif math_Scores.at[n, 'Grade'] == 10:
        mathSAT = math_Scores.at[n, 'Scaled Score']
        scaledGrade = math_Scale.at[mathSAT, 'Grade 10']
        math_Scores.at[n, 'mathGr'] = scaledGrade
        
    elif math_Scores.at[n, 'Grade'] == 9:
        mathSAT = math_Scores.at[n, 'Scaled Score']
        scaledGrade = math_Scale.at[mathSAT, 'Grade 9']
        math_Scores.at[n, 'mathGr'] = scaledGrade
        
    else:
        math_Scores.at[n, 'mathGr'] = 'Error'

math_Scores.head()

,*School Year,Scaled.Score (bin),Grade,Name,Sat Exam,Scaled Score,School,Student Number,Subject,SAT Name,Test Version,mathGr
1,2019-20,400,11,"Success, Shealyn",SAT.11.Winter.USIHS.19-20,490,NSA-WPHS,305002305,Math,Cycle 2 2019-20,1.0,0.78
6,2019-20,500,11,"St. Preux, Derius",SAT.11.Winter.USIHS.19-20,590,NSA-WPHS,701159485,Math,Cycle 2 2019-20,1.0,0.92
11,2019-20,400,11,"Spruill, Ayannah",SAT.11.Winter.USIHS.19-20,460,NSA-WPHS,300027521,Math,Cycle 2 2019-20,1.0,0.74
16,2019-20,400,11,"Sowell, Ahmad",SAT.11.Winter.USIHS.19-20,450,NSA-WPHS,302001302,Math,Cycle 2 2019-20,1.0,0.73
21,2019-20,400,11,"Suara, Suliyat T.",SAT.11.Winter.USIHS.19-20,460,NSA-WPHS,701158152,Math,Cycle 2 2019-20,1.0,0.74

In [61]:
# Look up English Gradebook Score

for n in english_Scores.index:
    if english_Scores.at[n, 'Grade'] == 11:
        englishSAT = english_Scores.at[n, 'Scaled Score']
        scaledGrade = english_Scale.at[englishSAT, 'Grade 11']
        english_Scores.at[n, 'engGr'] = scaledGrade
      
    elif english_Scores.at[n, 'Grade'] == 10:
        englishSAT = english_Scores.at[n, 'Scaled Score']
        scaledGrade = english_Scale.at[englishSAT, 'Grade 10']
        english_Scores.at[n, 'engGr'] = scaledGrade
        
    elif english_Scores.at[n, 'Grade'] == 9:
        englishSAT = english_Scores.at[n, 'Scaled Score']
        scaledGrade = english_Scale.at[englishSAT, 'Grade 9']
        english_Scores.at[n, 'engGr'] = scaledGrade
        
    else:
        english_Scores.at[n, 'engGr'] = 'Error'

english_Scores.head()

,*School Year,Scaled.Score (bin),Grade,Name,Sat Exam,Scaled Score,School,Student Number,Subject,SAT Name,Test Version,engGr
0,2019-20,500,11,"Success, Shealyn",SAT.11.Winter.USIHS.19-20,560,NSA-WPHS,305002305,ELA,Cycle 2 2019-20,1.0,0.89
5,2019-20,400,11,"St. Preux, Derius",SAT.11.Winter.USIHS.19-20,480,NSA-WPHS,701159485,ELA,Cycle 2 2019-20,1.0,0.80
10,2019-20,500,11,"Spruill, Ayannah",SAT.11.Winter.USIHS.19-20,540,NSA-WPHS,300027521,ELA,Cycle 2 2019-20,1.0,0.87
15,2019-20,200,11,"Sowell, Ahmad",SAT.11.Winter.USIHS.19-20,200,NSA-WPHS,302001302,ELA,Cycle 2 2019-20,1.0,0.58
20,2019-20,400,11,"Suara, Suliyat T.",SAT.11.Winter.USIHS.19-20,470,NSA-WPHS,701158152,ELA,Cycle 2 2019-20,1.0,0.79

In [73]:
# Export Final Math Frame
math_final = math_Scores.loc[:,['Student Number', 'Grade', 'Name', 'Scaled Score', 'mathGr']]
math_final = math_final.sort_values(['Grade', 'Name'], ascending = [1,1])
math_final

# Write Math Data Frame to Excel
math_final.to_excel('1920_math_winterSAT_gradebookscores.xlsx')

# Export Final English Frame
english_final = english_Scores.loc[:,['Student Number', 'Grade', 'Name', 'Scaled Score', 'engGr']]
english_final = english_final.sort_values(['Grade', 'Name'], ascending = [1,1])
english_final

# Write Math Data Frame to Excel
english_final.to_excel('1920_english_winterSAT_gradebookscores.xlsx')